.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
  margin-top: 5%;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.circle {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  outline: none;
  margin: 5px;
}
.circle-red{
  background-color: red;
}

.circle-yellow{
  background-color: yellow;
}
/* .circle:hover{
  background-color: pink;
} */

.hover-red{
  background-color: pink;
}

.hover-yellow{
  background-color: lightyellow;
}
.board{
  background-color: blue;
  padding: 25px;
  border-radius: 10%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
